body{
  display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.box{
    position: absolute;
justify-content: center;
border: 2px solid gray;
text-align: center;
width: 50%;
height: 50vh;
}
.control1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: capitalize;
    font-style: oblique;
    border: 1px dashed grey;
}
 .content{
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    align-content: center;
 }
 .controller{
    padding: 5px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 